<mat-drawer-container autosize>
        
        
        <mat-drawer #drawer mode="over">
            <mat-toolbar color="primary">Menú</mat-toolbar>
            <mat-nav-list>
                <a mat-list-item href="#" [routerLink]="['/login']" routerLinkActive="router-link-active">Ingresar</a>
                <a mat-list-item href="#" [routerLink]="['/home']" routerLinkActive="router-link-active">Principal</a>
                <a mat-list-item href="#" [routerLink]="['/bloques']" routerLinkActive="router-link-active">Bloques</a>
                <a mat-list-item href="#" [routerLink]="['/']" routerLinkActive="router-link-active"  (click)="logout()">Salir</a>
            </mat-nav-list>
        </mat-drawer>
        <mat-drawer-content class="index-content">
                <mat-toolbar color="primary" role="heading">
                        <mat-toolbar-row role="heading" class="index-toolba-row">
                            <button mat-icon-button (click)="drawer.toggle();">
                                <mat-icon >menu</mat-icon>
                            </button>
                            {{title}}
                            <button mat-button>About</button>
                            <button mat-button>Contact</button>
                        </mat-toolbar-row>
                    </mat-toolbar>
            <router-outlet></router-outlet>
        </mat-drawer-content>
    </mat-drawer-container>