<mat-card class="login-card" >
  <mat-card-header class="login-header">
      <mat-card-title>
          <mat-icon class="login-icon">account_circle</mat-icon>
      </mat-card-title>
  </mat-card-header>
  <mat-card-actions>
      <button mat-stroked-button (click)="register('FAC')">Registrarme con Facebook</button>
      <button mat-stroked-button (click)="register('GOG')">Registrarme con Google</button>
  </mat-card-actions>
  <mat-card-content>
      <form>
          <mat-form-field [hideRequiredMarker]=true [floatLabel]="'auto'">
            <input matInput placeholder="Email"  [(ngModel)]="email" name="email" required>
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
          <mat-form-field [hideRequiredMarker]=true [floatLabel]="'auto'">
              <input matInput placeholder="Contraseña" [(ngModel)]="password" type="password" name="password" required>
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
          <mat-form-field [hideRequiredMarker]=true [floatLabel]="'auto'">
            <input matInput placeholder="Contraseña" [(ngModel)]="passwordConfirm" type="passwordConfirm" name="password" required>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
      </form>
      <mat-spinner [style.display]="showSpinner? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
  <mat-card-actions>
      <button mat-raised-button (click)="register('USP')" color="primary">Registrarme</button>
  </mat-card-actions>
</mat-card>